.main-body{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("scooter.jpg");
    /* background-image:    url(images/background.svg); */
    background-size: 1920px 1280px;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}

.container{
    
    height: 100%;
    width: 100%;
}

.heading {
    font-family: 'Lobster', cursive;
    color:black;
    text-align: center;
    font-size: 5rem;
}
.my-des{
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    color: #142850;
    text-align: center;
}